<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django app</title>
    </head>
    <body>
        <h1>Bienvenido al sitio. Seleccione una opcion:</h1>
        <a href="http://127.0.0.1:8000/saludo">Saludo</a><br>
        <a href="http://127.0.0.1:8000/saludohtml">Saludo HTML</a><br>
        <a href="http://127.0.0.1:8000/despedida">Despedida</a><br>
        <a href="http://127.0.0.1:8000/fecha">Fecha</a><br>
        <a href="http://127.0.0.1:8000/edades/34/2040">Edades</a><br>
        <a href="http://127.0.0.1:8000/template">Template</a><br>
        <a href="http://127.0.0.1:8000/templatedinamico">Template dinamico</a><br>
        <a href="http://127.0.0.1:8000/templatelista">Template lista</a><br>

        <a href="http://127.0.0.1:8000/templateloader">Template con loader</a><br>
        <a href="http://127.0.0.1:8000/herencia">Herencia</a><br>
        <a href="http://127.0.0.1:8000/busqueda_productos">Busqueda de productos</a><br>
        <a href="http://127.0.0.1:8000/contacto">Contacto</a><br>
    </body>
</html>