<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django app</title>
    </head>
    <body>
        <h1>Bienvenido al sitio. Seleccione una opcion:</h1>
        <a href="http://127.0.0.1:8000/prueba/saludo">Saludo</a><br>
        <a href="http://127.0.0.1:8000/prueba/saludohtml">Saludo HTML</a><br>
        <a href="http://127.0.0.1:8000/prueba/despedida">Despedida</a><br>
        <a href="http://127.0.0.1:8000/prueba/fecha">Fecha</a><br>
        <a href="http://127.0.0.1:8000/prueba/edades/34/2040">Edades</a><br>
        <a href="http://127.0.0.1:8000/prueba/template">Template</a><br>
        <a href="http://127.0.0.1:8000/prueba/templatedinamico">Template dinamico</a><br>
        <a href="http://127.0.0.1:8000/prueba/templatelista">Template lista</a><br>
        <a href="http://127.0.0.1:8000/prueba/templateloader">Template con loader</a><br>
        <a href="http://127.0.0.1:8000/prueba/herencia">Herencia</a><br>
        <a href="http://127.0.0.1:8000/prueba/busqueda_productos">Busqueda de productos</a><br>
        <a href="http://127.0.0.1:8000/prueba/contacto">Contacto</a><br>
    </body>
</html>